webservice/简单的webservice/MyService/WebContent/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.boco.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.boco.com" xmlns:intf="http://service.boco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.boco.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getMethod">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMethodResponse">
    <complexType>
     <sequence>
      <element name="getMethodReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMethodRequest">

      <wsdl:part element="impl:getMethod" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMethodResponse">

      <wsdl:part element="impl:getMethodResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestService">

      <wsdl:operation name="getMethod">

         <wsdl:input message="impl:getMethodRequest" name="getMethodRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMethodResponse" name="getMethodResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestServiceSoapBinding" type="impl:TestService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMethod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMethodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMethodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestServiceService">

      <wsdl:port binding="impl:TestServiceSoapBinding" name="TestService">

         <wsdlsoap:address location="http://localhost:8080/MyService/services/TestService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
